<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">

    <%- include('partials/header') %>

    <div class="container mx-auto mt-10">
        <div class="flex  my-10">
          <div class="w-3/4 bg-white px-10 py-10">
            <div class="flex justify-between  pb-8">
              <h1 class="font-semibold text-2xl">Shopping Cart</h1>
              <h2 class="font-semibold text-2xl"><%= menuList.length %> Menu Sets</h2>
              <h2 class="font-semibold text-2xl"><%= dishesList.length %> Custom dishes</h2>
            </div>
            <div class="flex mt-10 mb-5">
            
                <h3 class="font-semibold text-gray-600 text-xs uppercase w-4/5"><%= title %></h3>
         
              <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>
            </div>
            <div id="menuList">
            <% for( const menu of menuList ) { %>   
           
              <div id="<%- menu.menuID %>" class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
                <div class="flex w-4/5"> 
               
                  <div class="flex flex-col justify-between ml-4 flex-grow">
                    <span class="font-bold text-xl"><%= menu.name %></span>
                    <span class="text-red-500 text-l"><%= menu.categories %></span>
                    <a id="removeMenuBtn" font-semibold hover:text-red-500 text-gray-500 text-xs">Remove</a>
                  </div>
                </div>
            
              
                <span class="text-center w-1/5 font-semibold text-xl">$<%= menu.price %></span>
              </div>

              <% } %>
            </div>
              <div id="dishList">
            <% for( const dish of dishesList ) { %>   

             
                      <div id='<%- dish.dishID %>' class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
                        <div class="flex w-4/5"> 
                          <div class="w-20">
                            <img class="h-24" src=<%= dish.photoUrl %> alt="">
                          </div>
                          <div class="flex flex-col justify-between ml-4 flex-grow">
                            <span class="font-bold text-sm"><%= dish.name %></span>
                            <span class="text-red-500 text-xs"><%= dish.dishType %></span>
                            <a id="removeDishBtn" class="font-semibold hover:text-red-500 text-gray-500 text-xs">Remove</a>
                          </div>
                        </div>
                    
                      
                        <span class="text-center w-1/5 font-semibold text-sm">$<%= dish.price %></span>
                      </div>
  

              <% } %>
            </div>
                 <br><br>   
    
           
            <a href="/" class="flex font-semibold text-red-600 text-sm mt-10">
          
              <svg class="fill-current mr-2 text-red-600 w-4" viewBox="0 0 448 512">
                <path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/>
              </svg>
              Back To Home Page
            </a>
          </div>
    
          <div class="w-1/4 px-8 py-10">
            <h1 class="font-semibold text-2xl border-b pb-8">TOTAL COST</h1>
            
            <span class="text-2xl">$<%= totalPrice %></span>
              <button id = "createorder" class="bg-red-500 mt-8 font-semibold hover:bg-black-600 py-3 text-sm text-white w-full">CREATE ORDER</button>
           
        </div>
      </div>
     <script src="/js/checkout.js"></script>

    </div>

    <!-- <script>
   

         
          let dishes = document.getElementById("dishList").children;
          let dishesLength = document.getElementById("dishList").children.length;
            
          for (let i = 0; i < dishesLength; i++) {
          
          document.getElementById(dishes[i].id).addEventListener("click",  async function (event) {
                    if (event.target.id === "removeDishBtn")
                    {
                    
                        const response = await fetch(`/user`, { "method": "GET" });
                        if (response.status === 200)
                        {
                     
                            response.text().then( async function (text) {
                                const response = await fetch(`/add-dishtocart/${text}?dishID=${dishes[i].id}&dishIndex=${i}`, { "method": "DELETE" });
                                    if (response.status === 200)
                                    {
                                      window.location.reload();
                                       alert(`Deleted ${dishes[i].name}  From Shopping Cart`);
                                    }
                                  else{
                                    alert("Cannot delete");
                                  }
                            });
                        }
                        else{
                         alert(response.status);
                        }
                    }
                });
   
        }
        

        let menus = document.getElementById("menuList").children;
          let menusLength = document.getElementById("menuList").children.length;
            
          for (let i = 0; i < menusLength; i++) {
          
          document.getElementById(menus[i].id).addEventListener("click",  async function (event) {
                    if (event.target.id === "removeMenuBtn")
                    {
                    
                        const response = await fetch(`/user`, { "method": "GET" });
                        if (response.status === 200)
                        {
                     
                            response.text().then( async function (text) {
                                const response = await fetch(`/add-menutocart/${text}`, { "method": "DELETE" });
                                    if (response.status === 200)
                                    {
                                      window.location.reload();
                                       alert(`Deleted ${menusLength[i].name}  From Shopping Cart`);
                                    }
                                  else{
                                    alert("Cannot delete");
                                  }
                            });
                        }
                        else{
                         alert(response.status);
                        }
                    }
                });
        }
 
       document.getElementById("createorder").addEventListener("click",  async function (event) {
            
                   const response = await fetch(`/user`, { "method": "GET" });
                   if (response.status === 200)
                   {
               
                       response.text().then( async function (text) {
                           const response = await fetch(`/order/${text}`, { "method": "POST" });
                               if (response.status === 200)
                               {
                                 alert("Order created. Please check your email.");
                                 window.location.href="/";

                               } 
                               else
                               {
                                alert("Order failed. Please check again!");
                               }
                       });
                   }
                   else{
                      alert(response.status);
                   }
               
           });
    </script> -->
    <%- include('partials/footer') %>

</body>

</html>
